jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}

spring:
  application:
    name: demo

  datasource:
    url: jdbc:postgresql://localhost:5433/demo
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  flyway:
    baseline-on-migrate: true
    validate-on-migrate: true